language: android
sudo: required
jdk: oraclejdk8

before_cache:
 - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
 - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
 directories:
 - $HOME/.gradle/caches/
 - $HOME/.gradle/wrapper/

env:
 global:
   - ANDROID_API=26
   - EMULATOR_API=21
   - ANDROID_BUILD_TOOLS=27.0.3
   - ADB_INSTALL_TIMEOUT=5 # minutes
android:
 components:
   - tools
   - platform-tools
   - build-tools-$ANDROID_BUILD_TOOLS
   - android-$ANDROID_API
   - android-$EMULATOR_API_LEVEL
   - extra-android-m2repository # for design library
   - extra-google-m2repository
   - extra-google-google_play_services
   - addon-google_apis-google-19 # google play services

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\nd56f5187479451eabf01fb78af6dfcb131a6481e" >  "$ANDROID_HOME/licenses/android-sdk-license"
  - chmod +x gradlew
  - ./gradlew dependencies || true

script:
  - echo "Building app"
  - ./gradlew app:clean app:testDebugUnitTest app:assembleDebug